.comment-detail {
    font-size: 0.9rem;
    margin-top: 20px;
    img {
        height: 40px;
        width: 40px;
        border-radius: 90%;
    }

    textarea {
        resize: none;
    }

    .comment-disable{
        text-align: center;
        padding: 10px 0;
    }

    .comment-box {
        display: flex;
        margin-bottom: 20px;

        &:nth-of-type(n+2){
            margin-bottom: 20px;
        }

        &:hover .comment-info > .el-tooltip__trigger {
            display: flex;
        }

        .comment-input, .comment-info {
            margin-left: 10px;
            width: 100%;
        }


        .comment-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .el-tooltip__trigger {
                display: none;
            }
        }

        .comment-btn {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
        }

        .comment-user {
            font-weight: bold;
        }

        .comment-content {
            margin-top: 2px;
        }
        
        .comment-time {
            color: #606060;
        }

        .comment-method {
            display: none;
        }
    }
}