.video-detail {
  margin-top: 20px;

  video {
    max-width: 100%;
  }

  h3 {
    margin-top: 10px;
  }

  p {
    margin: 0;
  }

  .video-action {
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 992px) {
      .video-right {
        margin-top: 15px;
      }
    }
    .video-left {
      display: flex;

      p {
        font-weight: bold;
        font-size: 0.9rem;
      }

      img {
        border-radius: 90%;
        width: 40px;
        height: 40px;
      }

      span {
        font-size: 0.8rem;
        color: #606060;
      }

      .btn-subscribe {
        max-height: 35px;
        padding: 0 10px;
        margin-left: 18px;
        background-color: black;
        color: white;
        border-radius: 10px;

        font-weight: bold;
        line-height: 35px;
        cursor: pointer;
      }
    }

    .video-right {
      display: flex;

      div {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 18px;

        padding: 5px 12px;
        margin: 0 5px;
      }

      span {
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }

  .video-desc {
    margin-top: 20px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.05);

    padding-left: 10px;
    padding-top: 10px;
    padding: 15px 10px;

    .desc-meta {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}
